cp_file
*.txt
__pycache__/*
__pycache__
.vscode/*
.vscode
residue
*.pyc
sol/*
residue
partGrid
partGridNew
prim_soln
prim_soln_clean
primvals.txt
cp_file
test
test_cpu
test_cpu2
test_gpu
test_gpu2
test1
grids/*
*.dat
result-*
*.out
config.json
stuff/*
partGrid*
mfpre_back/*
*/point-input
results/*
test*
cp-file
