{
    "core":{
        "cfl": 0.2,
        "max_iters": 20000,
        "mach": 0.85,
        "aoa": 1,
        "power": 0,
        "limiter_flag": 1,
        "vl_const": 150,
        "initial_conditions_flag": 0,
        "interior_points_normal_flag": 0,
        "shapes": 1,
        "rho_inf": 1,
        "pr_inf": 0.7142857142857143,
        "gamma": 1.4,
        "clcd_flag": false,
        "format": 0
    },
    "point":{
        "wall": 0,
        "interior": 1,
        "outer": 2
    },
    "partition":{
        "legacy": false
    }
}
